.weather.hidden, .message.hidden {
    opacity: 0;
    transition: opacity 1s ease;
}

.weather, .message {
    opacity: 1;
    transition: opacity 1s ease;
}

.italics {
    font-style: italic;
}

.night .segment, .day{
    background-color: #1f263b!important;
    color: white;
}

.day .segment, .night{
    background-color: gold!important;
    color: darkblue;
}
